//Color Panel
$BG-nav: #2a58ae;
$BG-searchbar: #fdfdfd;
$BG-content: #e9edf0;
$BG-headerArray: #c4d2e4;
$BG-headerBody: #fdfdfd;

body {
    margin: 0;
}
//Structure de la page
.page-content {
    //structure en flex avec le nav à gauche et le reste à droite sur 100% de la largeur
    //la droite comporte une barre de recherche en haut avec un bouton disconnect
    // Le reste et le corps de la session regardée
    display: flex;
    width: 100%;
}
nav {
    //Bar à gauche largeur 1/5 de l'écran
    flex: 1;
}
.view {
    flex: 4;
}

table {
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    width: 90%;
    & thead {
        background-color: $BG-headerArray;
        & tr th  {
            padding: 0.5rem 0;
        }
    }
    & tbody {
        font-size: 0.75rem;
        background-color: $BG-headerBody;
        & tr td{
        padding: 0.5rem 0 1rem 0;
        }
    }
}

@media screen and (max-width: 576px) {
    .sm-hidden {
        display: none;
    }
}
